header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header .container {
    background-color: #fff;
    color: #212529;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 100%;
    height: 100%;
    padding: 5rem;
    margin: 8.25rem auto auto auto;
}

header .container .header-text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    padding: 5rem 5rem 5rem 7rem;
}

header .container .header-text h1 {
    color: rgba(0, 0, 0, .5);
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 0.75rem;
    text-align: left;
    line-height: 1.2;
}

header .container .header-text p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.65rem;
    font-weight: 300;
    line-height: 1.5;
    color: #212529;
    text-align: start;
}

header .container .header-text .header-btn {
    width: 100%;
    height: 5rem;
    padding: 1rem;
    cursor: pointer;
    background-color: transparent;
    border-radius: 2rem;
    border: 2px solid #f4756c;
    outline: none;
    color: #f4756c;
    font-size: 1.75rem;
    font-weight: 500;
    letter-spacing: .25rem;
}

header .container .header-text .header-btn:hover {
    background-color: #f4756c;
    color: #fff;
    transition: ease-in .5s;
}

header .container .header-img {
    width: 50%;
    height: 100%;
}

header .container .header-img img {
    width: 575px;
    height: 575px;
    object-fit: cover;
    object-position: center;
}

header h1 {
    margin: 2.75rem 0rem;
    text-align: center;
    font-size: 3.75rem;
    font-weight: 500;
    color: #00000080;
}

header .wrapper {
    width: 70%;
    height: 75rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin: 0 0 5rem 0;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

header .wrapper .wrapper-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    width: 25rem;
    height: 20rem;
    margin: 0rem 1rem;
    text-align: center;
}

header .wrapper .wrapper-text img {
    width: 7.5rem;
    height: 7.5rem;
    object-fit: cover;
    object-position: center;
}

header .wrapper .wrapper-text .wrapper-desc {
    padding: 1rem;
    text-align: center;
    width: 27rem;
    height: auto;
}

header .wrapper .wrapper-text .wrapper-desc h4 {
    color: #000;
    font-size: 2.25rem;
    font-weight: 500;
}

header .wrapper .wrapper-text .wrapper-desc p {
    color: #00000080;
    font-size: 1.75rem;
    font-weight: 500;
}

/* Responsive */

@media only screen and (max-width:1199px) {
    header .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        gap: 5rem;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    header .container .header-text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        height: 100%;
    }

    header .container .header-text h1 {
        color: rgba(0, 0, 0, .5);
        font-size: 3rem;
        font-weight: 500;
        margin-bottom: 0.75rem;
        text-align: center;
    }

    header .container .header-text p {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 1.65rem;
        font-weight: 300;
        line-height: 1.5;
        color: #212529;
        text-align: center;
    }

    header .container .header-img img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        object-position: center;
    }

    header .container .header-text .header-btn {
        width: 60%;
        height: 5rem;
        padding: 1rem;
        cursor: pointer;
        background-color: transparent;
        border-radius: 2rem;
        border: 2px solid #f4756c;
        outline: none;
        color: #f4756c;
        font-size: 1.75rem;
        font-weight: 500;
        letter-spacing: .25rem;
    }
}

@media only screen and (max-width:992px) {
    header .wrapper {
        width: 80%;
        height: auto;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        margin: 0 0 5rem 0;
        border-radius: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    header .wrapper .wrapper-text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        height: 100%;
        margin: 1rem;
        padding: 1.5rem;
    }

    header .wrapper .wrapper-text img {
        width: 7.5rem;
        height: 7.5rem;
        object-fit: cover;
        object-position: center;
    }

    header .wrapper .wrapper-text .wrapper-desc {
        padding: 1rem;
        text-align: center;
        width: 100%;
        height: auto;
    }

    header .wrapper .wrapper-text .wrapper-desc h4 {
        color: #000;
        font-size: 2.25rem;
        font-weight: 500;
    }

    header .wrapper .wrapper-text .wrapper-desc p {
        color: #00000080;
        font-size: 1.75rem;
        font-weight: 500;
    }

}

@media screen and (max-width:768px) {
    header .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        gap: 5rem;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    header .container .header-text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        max-width: 100%;
        height: 100%;
    }

    header .container .header-text h1 {
        color: rgba(0, 0, 0, .5);
        font-size: 2.75rem;
        font-weight: 500;
        margin-bottom: 0.75rem;
        text-align: center;
    }

    header .container .header-text p {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 1.65rem;
        font-weight: 300;
        line-height: 1.5;
        color: #212529;
        text-align: center;
    }

    header .container .header-img img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        object-position: center;
    }
}