footer {
    width: 100%;
    height: 250px;
    background-color: #f4756c;
    color: #fff;
    position: relative;

}

footer .footer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}

footer .footer h2 {
    font-size: 2.5rem;
    font-weight: 500;
    font-family: inherit;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: 5.75rem;
}

footer .footer .footer-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    margin: 0 0 5rem 0;
    padding: 0 5rem;
}

footer .footer .footer-bottom .footer-text {
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    font-family: inherit;
}

footer .footer .footer-bottom .footer-icons {
    display: flex;
    gap: 2rem;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    font-family: inherit;
    cursor: pointer;
    transition: all .5s;
}

footer .footer .footer-bottom .footer-icons i:hover {
    color: #6c757d;
}

/* responsive */

@media only screen and (max-width:992px) {
    footer .footer h2 {
        font-size: 1.85rem;
    }

    footer .footer .footer-bottom .footer-text {
        font-size: 1.25rem;
    }

    footer .footer .footer-bottom .footer-icons {
        font-size: 2rem;
        margin-left: 1.5rem;
    }
}

@media screen and (max-width:768px) {
    footer .footer h2 {
        font-size: 1.45rem;
    }

    footer .footer .footer-bottom .footer-text {
        font-size: 1rem;
    }

    footer .footer .footer-bottom .footer-icons {
        font-size: 1.75rem;
        margin-left: 2rem;
    }
}