h1 {
    margin: 2.75rem 0rem;
    font-size: 3.75rem;
    font-weight: 500;
    color: #00000080;
    text-align: center;
}

.container-mentors {
    max-width: 1200px;
    height: auto;
    width: 100%;
    margin: 0 auto;
    padding: 4rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}